<button nz-button nzType="link" (click)="editRow()">
  <i
    nz-icon
    nzType="delete"
    nzTheme="outline"
    nz-tooltip
    nzTooltipTitle="Delete"
  ></i>
</button>
<button nz-button nzType="link" (click)="viewRow()">
  <i
    nz-icon
    nzType="qrcode"
    nzTheme="outline"
    nz-tooltip
    nzTooltipTitle="Scan Code"
  ></i>
</button>
<button nz-button nzType="link" (click)="viewRow()">
  <i
    nz-icon
    nzType="upload"
    nzTheme="outline"
    nz-tooltip
    nzTooltipTitle="Upload File"
  ></i>
</button>
